body{
    background-image: url("imagens/queijo2.jpeg");
      background-position: center;
}
#menufixo{
    position: fixed;
    background-color: yellow;
    width: 250px;
    height: 250px;
    margin: 30px;
}