body{
    /* background-image: url("imagens/queijo2.jpeg"); */
      background-position: center;
}
#menufixo{
    right: 0px;
    position: fixed;
    background-color: yellow;
    width: 100px;
    height: 160px;
    margin: 30px;
}
/* .galeria1{ */

/* } */
/* .galeria2{ */

/* } */
.tituloimagem{
    background-color: blue;
    height: 50px;
    width: 50px;
    top: 50px;
}
/* h1{ */
    /* color: yellow; */
/* } */
#postagem{
    background-color: gainsboro;
    font-size: 20px;
    font-family: "Arial", "Helvetica", "sans-serif";
}
.titulonoticia{
    width: auto;
    height: 50px;
    /* background-color: bisque; */
    text-align: center;
    font-size: 30px;
    color: #f7e600;
}
.tituloformulario{
    text-align: center;
}
/* #formulariocontato{ */
/* } */
