
#menufixo{
    right: 0px;
    position: fixed;
    background-color: yellow;
    width: 100px;
    height: 160px;
    margin: 30px;
}
.galeria1{
  margin: 20px;
  padding: 20px;
}
.galeria2{
  margin: 20px;
  padding: 20px;
}
 h1{
     color: #838626;
 }
#postagem{
    background-color: gainsboro;
    font-size: 20px;
    font-family: "Arial", "Helvetica", "sans-serif";
}
.titulonoticia{
    width: auto;
    height: 50px;
    /* background-color: bisque; */
    text-align: center;
    font-size: 30px;
    color: #f7e600;
}
 #formulariocontato{
   color: ;
 }
 #formulariodoacoes{
   color: red;
 }
 table{
   background-color: white;
 }
